@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply font-poppins;
} */
@layer base {
  body {
    @apply font-roboto bg-[#f1f1f1];
  }
  .btn {
    @apply px-2 py-1 cursor-pointer bg-orange-400 text-white rounded;
  }
  .navlink {
    @apply hover:text-orange-400 transition duration-300;
  }
  .active {
    @apply text-orange-400;
  }
}
